*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(75deg,#09203F,#537895);
}
#cal{
    background-color: aqua;
    width: 30vw;
    height: 70vh;
    background-color: rgb(96, 96, 104);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yoo{
   width:6vw;
   height: 4vw;
   font-size:2vw ;
   font-weight: bold;
   background-color: black;
   border-radius: 5px;
   box-shadow: 2px 2px 2px black;
    border: none; 
   /* border-radius: 5px;
   background-color: rgb(62, 62, 77);*/
   color: white; 
   transition: transform 0.1s;


}
.yoo:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transform: scale(1.1);
}
#form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row ;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;
    
}
 /* #display{
     width:100%; 
    border:none;
    background-color: black;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    color: aliceblue;
    font-size: 303px;
    padding-left: 5px;
}  */
.a{
    width: 30%;
    height: 30%;
    border: none;
    background-color: rgb(48, 158, 103);
    border-radius: 5px ;
    color: white;
}
#cdis{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    box-shadow: 2px 2px 2px black;
    font-size: 30px;
}
